.idea
.gtm
.vagrant
.cache
.vscode

/bin/
/build*/
/*.build/
/*.xcodeproj/
/cmake-build-debug/
/cmake-build-release/
/CMakeFiles/
/CMakeScripts/
/site/

__pycache__

*.kdev4
*~
*.orig
*.o
*.sln
*.csproj
*.speccache
*.DS_Store

perf.data*
logsystem.db
/TODO.md

*.srctrl*

*.cmake
CMakeCache.txt