externals/build/** linguist-vendored=true
playground/icons/** linguist-vendored=true
playground/html/ace/** linguist-vendored=true
playground/html/ace/snipets/** linguist-vendored=true

sources/oldengine/** linguist-vendored=true