.idea
.gtm
.vagrant
.vagrant
.cache

/bin/
/build/
/cmake-build-debug/
/cmake-build-release/
/site/

__pycache__

*.kdev4
*~
*.orig
*.o
*.sln
*.csproj
*.speccache
*.iml

perf.data*
log.db
