[submodule "externals"]
	path = externals
	url = https://gitlab.com/cyberegoorg/CETech-externals.git
[submodule "playground/icons/breeze"]
	path = playground/icons/breeze
	url = https://gitlab.com/cyberegoorg/CETech-icons-breeze.git
