.idea
.gtm
.vagrant
.cache

/docs/doxygen/
/bin/
/build/
/build*/
/.build/
/cmake-build-debug/
/cmake-build-release/
/site/

__pycache__

*.kdev4
*~
*.orig
*.o
*.sln
*.csproj
*.speccache
*.DS_Store

perf.data*
logsystem.db
/TODO.md

*.srctrl*