[submodule "externals"]
	path = externals
	url = https://gitlab.com/cyberegoorg/CETech-externals.git
[submodule "playground/icons/breeze"]
	path = playground/icons/breeze
	url = https://github.com/DarkknightAK/breeze-icon-theme.git
