language: cpp

os:
  - linux

before_script:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get -qq update
  - sudo apt-get -qq install g++-4.8

script:
 - make -C ./engine/ test-$TRAVIS_OS_NAME-debug

