core:
  boot_pkg: content/boot
  boot_script: lua/boot

screen:
  x: 800
  y: 600

renderer:
  config: core/renderer/default

#load_module.0: module_playground
#load_module.1: module_property_inspector
#load_module.2: module_asset_browser
#load_module.3: module_asset_property
#load_module.4: module_asset_preview
#load_module.5: module_texture_property
#load_module.6: module_level_inspector
#load_module.7: module_entity_property
#load_module.8: module_transform_property
#load_module.9: module_level_view
load_module.0: module_example
